body {
  text-align:center;
  font-family: Arial, Serif;
	overflow: hidden;
	overflow-y: auto;
}

#chart, #chart2, #chart3, #chart4, #chart5, #chart6, #chart7, #chart8 {
  margin-top: 20px;
  left: 0;
  margin-left: -5%;
} 

.after-one {
  margin-left: 5%;
}

.tooltip {
  position: absolute;
  height: 30px;
  width: 50px;
  color: green;
  background-color: yellow;
  display: block;
}

.matrix-header {
  margin-left: 5%;
  margin-bottom: 20px;
}
.matrix-header-bottom {
  margin-bottom: 20px;
}
.footnotes{
/*  margin-top: 1500px;*/
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 12px;
}
.footnotes-header{
  font-weight: 600;
  font-size: 16px;
}
.footnotes-bottom{
  text-align: left;
  margin-left: 10%;
}

.footnotes-bottom-after-one{
  text-align: left;
  margin-left: 6%;
}

/* form styles */
.underline-text: {
  text-decoration: underline;
}

*[id^='container']{
  height: 125px;
  text-align: center;
  font-size: 12px; /* IE 9/10 don't like font-size: 0; */
  min-width: 600px;
}

*[id^='container'] div {
  width: 125px;
  height: 30px;
  display: inline-block;
}
*[id^='container']:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  /*display: inline-block;*/
}

.checkbox-list {
  width: 100%;
  flex-direction: column;
}
.form-check .form-check-inline {
  flex-direction: column !important;
}
.form-check-label {
  text-overflow: wrap; 
  width: 110px;
}
.form-check-inline .form-check-input {
  margin-top: 5px !important;
}
